# dependencies
/node_modules

# build output
/build
/dist

# IDE and editor files
.idea/
.vscode/
*.sublime-workspace

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
